In [14]:
import pandas as pd
import numpy as np
import pyodbc
from datetime import datetime, timedelta
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy
import nltk
import timeit


from nltk.tokenize import word_tokenize,sent_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ialzu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
# Local db info 
server = 'LAPTOP-88OFGUMN\SQLEXPRESS'
server='192.168.0.100'
database = 'Riyadh2' 
username = 'sab' 
password = 'tata2015' 

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
df= pd.read_sql("select * from texts",cnxn)
df.to_csv("texts.csv",encoding='utf-8-sig')

In [29]:
df = pd.read_csv('texts.csv',index_col=0)
df.head()

   T_ID  T_AID                                             T_Text
0    58    104  \nقال صاحب السمو الملكي الأمير د. فيصل بن مشعل...
1    61    110  \nأعلنت وزارة الصحة والسكان المصرية، اليوم، تس...
2    64    116  \nكشفت جولة نفذتها «الرياض» على مناطق عدة في م...
3     7      2  \nنشرت وكالة رويترز، اليوم الأحد الموافق 5 إبر...
4     8      4  \nبدأت إدارة التعليم في محافظة وادي الدواسر ، ...

In [30]:
df['T_Text'].head()
df.dropna(inplace=True)

In [34]:
start = timeit.timeit()

df['tokenized_text'] = df['T_Text'].apply(word_tokenize) 


end = timeit.timeit()


print(end - start)

0.025052899999991496

In [ ]:
df.head()